.chatMsgArea {
    min-height: 150px;
    padding: 20px;
    background-color: lightgrey;
}

.chatWindow {
    border: 1px black solid;
    width: 200px;
    height: 250px;
    display: inline-block;
    position: relative;
}

.chatWithTitle {
    background: lightgrey;
}

.sendArea {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

.oldmsgArea {
    overflow-y: scroll;
    height: 175px;
}

.friendsDiv {
    padding-left: 130px;
}

.badgeNum {
    background: pink;
    padding: 5px;
    border-radius: 10px;
}